.clock{
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: $primary-highlight-light;
  height: 14rem;
  width: 14rem;
  border:2px solid $primary-highlight-dark;
  border-radius: 50%;
  margin: 4rem auto;

  .clock-text{
    color: $primary-highlight-dark;
    font-size: 2.25rem;
  }
}