.top-bar, .top-bar ul {
  background-color: $primary-dark;
}

.top-bar {
  .menu-text {
    color: $primary-light;
  }

  .menu > .menu-text > a {
    display: inline;
    padding: 0;
  }

  .top-bar-right{
    .menu-text > mark {
      color: $primary-highlight-light;
      background-color: transparent;
    }
  }
}